
@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-light-webfont.eot');
    src: url('fonts/firasans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-light-webfont.woff2') format('woff2'),
         url('fonts/firasans-light-webfont.woff') format('woff'),
         url('fonts/firasans-light-webfont.ttf') format('truetype'),
         url('fonts/firasans-light-webfont.svg#webfontregular') format('svg');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-regular-webfont.eot');
    src: url('fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-regular-webfont.woff2') format('woff2'),
         url('fonts/firasans-regular-webfont.woff') format('woff'),
         url('fonts/firasans-regular-webfont.ttf') format('truetype'),
         url('fonts/firasans-regular-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-medium-webfont.eot');
    src: url('fonts/firasans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-medium-webfont.woff2') format('woff2'),
         url('fonts/firasans-medium-webfont.woff') format('woff'),
         url('fonts/firasans-medium-webfont.ttf') format('truetype'),
         url('fonts/firasans-medium-webfont.svg#webfontregular') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-bold-webfont.eot');
    src: url('fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-bold-webfont.woff2') format('woff2'),
         url('fonts/firasans-bold-webfont.woff') format('woff'),
         url('fonts/firasans-bold-webfont.ttf') format('truetype'),
         url('fonts/firasans-bold-webfont.svg#webfontregular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-lightitalic-webfont.eot');
    src: url('fonts/firasans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/firasans-lightitalic-webfont.woff') format('woff'),
         url('fonts/firasans-lightitalic-webfont.ttf') format('truetype'),
         url('fonts/firasans-lightitalic-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-italic-webfont.eot');
    src: url('fonts/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-italic-webfont.woff2') format('woff2'),
         url('fonts/firasans-italic-webfont.woff') format('woff'),
         url('fonts/firasans-italic-webfont.ttf') format('truetype'),
         url('fonts/firasans-italic-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-mediumitalic-webfont.eot');
    src: url('fonts/firasans-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-mediumitalic-webfont.woff2') format('woff2'),
         url('fonts/firasans-mediumitalic-webfont.woff') format('woff'),
         url('fonts/firasans-mediumitalic-webfont.ttf') format('truetype'),
         url('fonts/firasans-mediumitalic-webfont.svg#webfontregular') format('svg');
    font-weight: 500;
    font-style: italic;

}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/firasans-bolditalic-webfont.eot');
    src: url('fonts/firasans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/firasans-bolditalic-webfont.woff2') format('woff2'),
         url('fonts/firasans-bolditalic-webfont.woff') format('woff'),
         url('fonts/firasans-bolditalic-webfont.ttf') format('truetype'),
         url('fonts/firasans-bolditalic-webfont.svg#webfontregular') format('svg');
    font-weight: bold;
    font-style: italic;

}